<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#FFCE8C" />
        <title>Contacto</title>
        <meta name="description" content="Conocé las vías de contacto del ensamble Chew muli waka, y descargate el kit de prensa o la carpeta de presentación ">
        <meta name="keywords"  content="CONTACTO, TELEFONOS, MAIL, ENSAMBLE, MUSIC, PRENSA">
        <link rel="shortcut icon" href="../images/logo-chico.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <!-- Estilos -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/estilos.css ">
    </head>
    <body>
        <div id="grillaContacto">
            <header id="contacto"> 
                <!-- Barra de navegación - Boxmodeling -->      
                <nav class="navbar navbar-expand-md  menu-fixed navbar-light colorNav"> 
                    <!-- Brand -->
                    <a class="navbar-brand" href="../index.html ">
                        <img id="personajeGrande" src="../images/logo.png" alt="Logo Waka" style="width:100px;">
                    </a>
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav col-12 navbarCustom">
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/quienes.somos.html">Quienes Somos</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/galeria.html">Galería</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/noticias.html">Blog</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/agenda.html">Agenda</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main  id="contacto">
                <h1>Contacto</h1>
            </main>
            <!-- Contacto -->
            <section  id="contacto" class="section--margin"> 
                <div>
                    <h2>Sebastián Di Pardo</h2>
                    <h3 class="subtitulo3">percusionwaka@gmail.com</h3> 
                    <h4 class="subtitulo3">+54 11 5945 5125</h4>
                    <img id="personajeGrande" src="../images/imagen-contacto.png" alt="ilustración de persona haciendo una selfie"/>
                </div>
            </section> 
            <!-- Formulario de Contacto -->
            <section id="form">
                <form action="mailto:diegodipardo@gmail.com" class="section__article--redondeado">
                    <fieldset>
                        <legend> <h2>Formulario de contacto</h2> </legend>
                        <!-- Nombre y apellido -->
                        <div> 
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre y Apellido">
                        </div>
                        <!-- email -->
                        <div> 
                            <input class="form-control" type="email" name="email" placeholder="Correo electrónico">
                        </div>
                        <!-- Menú desplegable de Asunto-->
                        <div>
                            <select class="custom-select" name="asunto">
                                <option selected disabled value="Seleccionar asunto">Elegir asunto</option>
                                <option value="presupuesto">Quiero contratarl@s</option>
                                <option value="prensa">Prensa</option>
                                <option value="cv">Quiero formar parte</option>
                                <option value="fan">Hola!!</option>
                                <option value="otro">Otro asunto</option>
                            </select>
                        </div>
                        <!-- Mensaje -->
                        <div> 
                            <textarea class="form-control" name="mensaje" id="" cols="20" rows="3" placeholder="Mensaje"></textarea>
                        </div>
                        <!-- Check de terminos y condiciones -->
                        <div class="mb-4"> 
                            <input type="checkbox" name="check" value="1">
                            Acepto términos y condiciones
                        </div>
                        <!-- Botones borrar y enviar-->
                        <div> 
                            <input class="btn btn-primary btn-link" type="reset" value="Borrar datos">
                            <input class="btn btn-primary btn-round" type="submit" value="Enviar">
                        </div>
                    </fieldset>
                </form>
            </section>

            <!-- Descargas -->
            <section id="descargas" class="section--margin">
                <h2>Descargas</h2>
                <a href="../images/tarjeta.jpg" download> <img class="descargasImg" src="../images/descarga-carpeta.png" alt="descargar tarjeta de presentación"/>  </a>
                <a href="../images/prensa.pdf" download> <img class="descargasImg" src="../images/descarga-prensa.png" alt="descargar kit de prensa"/> </a>
            </section>
            <!-- Pie de página -->
            <footer id="contacto" class="degradadoFooter mt-5 pt-3"> 
                <p class="subtitulo"> Mas info en nuestras redes:</p>
                <ul class="footer">
                    <li class="ul__li--linea">
                        <a href="https://www.facebook.com/" target="_blank"> 
                        <img src="../images/facebook.png" alt="facebook"> </a> </li>
                    <li class="ul__li--linea">
                        <a href="https://www.instagram.com/waka.percusion/" target="_blank">
                        <img src="../images/instagram.png" alt="instagram"> </a> </li>
                    <li class="ul__li--linea">
                        <a href="https://www.youtube.com/" target="_blank">
                        <img src="../images/youtube.png" alt="youtube"> </a></li> 
                </ul>
                <p class="p-3 mb-0"> Todos los derechos reservados - Diseño: <a href="https://www.behance.net/diegodipardo" target="_blank">Diego Di Pardo</a></p>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
