<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Galería</title>
        <meta name="description" content="Fotos de presentaciones y encuentros del ensamble Chew muli waka">
        <meta name="keywords"  content="GALERIA, FOTOS, VIDEOS, ENSAMBLE, MUSIC, TAMBORES">
        <link rel="shortcut icon" href="../images/logo-chico.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <!-- Estilos -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/estilos.css ">
    </head>
        <body>
            <header id="index"> 
                <!-- Barra de navegación - Boxmodeling -->      
                <nav class="navbar navbar-expand-md navbar-light colorNav"> 
                    <!-- Brand -->
                    <a class="navbar-brand" href="../index.html ">
                        <img id="personajeGrande" src="../images/logo.png" alt="Logo" style="width:100px;">
                    </a>
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav col-12 navbarCustom">
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/quienes.somos.html">Quienes Somos</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/galeria.html">Galería</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/noticias.html">Blog</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/agenda.html">Agenda</a></li>
                            <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/contactanos.html">Contacto</a></li>
                        </ul>
                    </div>
                </nav>            
            </header>
            <main>
                <h1>Galería</h1>
            </main>
            <!-- Galería -->
            <!-- MODAL -->
            <section>
                <div id="thumblist" class="anchoGaleria"> 
                    <!-- IMAGEN 1 GALERÍA -->
                    <a href="#image1">
                    <img src="../images/elongando-gde.jpg" class="thumb" alt="Elongando"/></a>
                    <div id="image1" class="lightbox"> 
                        <div>
                            <a href="#image12"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                            <img class="img-thumbnail altoImg" src="../images/elongando-gde.jpg"  alt="elongando"> </a>
                            <p class="descriptionGaleria"> Elongando </p> 
                        </div>
                        <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                        <a href="#image2"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
                    <!-- IMAGEN 2 GALERIA -->
                    <a href="#image2"><img src="../images/tocando-1.jpg" class="thumb" alt="tocando percusión al aire libre, en ronda"/></a>
                    <div id="image2" class="lightbox">
                        <div>
                            <a href="#image1"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                            <img class="img-thumbnail altoImg" src="../images/tocando-1.jpg"  alt="tocando percusión al aire libre, en ronda"> </a>
                            <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                        </div>
                            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                            <a href="#image3"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 3 GALERIA -->
                    <a href="#image3"><img src="../images/tocando-2.jpg" class="thumb" alt="tocando percusión al aire libre, en ronda"/></a>
                    <div id="image3" class="lightbox">
                    <div>
                        <a href="#image2"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-2.jpg"  alt="tocando percusión al aire libre, en ronda"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image4"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 4 GALERIA -->
                    <a href="#image4"><img src="../images/tocando-3.jpg" class="thumb" alt="integrantes esperando para tocar, en ronda"/></a>
                    <div id="image4" class="lightbox">
                    <div>
                        <a href="#image3"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-3.jpg"  alt="integrantes esperando para tocar, en ronda"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image5"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 5 GALERIA -->
                    <a href="#image5"><img src="../images/tocando-4.jpg" class="thumb" alt="de perfil, cuatro integrantes tocando"/></a>
                    <div id="image5" class="lightbox">
                    <div>
                        <a href="#image4"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-4.jpg"  alt="de perfil, cuatro integrantes tocando"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image6"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 6 GALERIA -->
                    <a href="#image6"><img src="../images/tocando-5.jpg" class="thumb" alt="enseñando percusión a los Waka"/></a>
                    <div id="image6" class="lightbox">
                    <div>
                        <a href="#image5"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-5.jpg"  alt="enseñando percusión a los Waka"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image7"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 7 GALERIA -->
                    <a href="#image7"><img src="../images/tocando-6.jpg" class="thumb" alt="de perfil, esperando para tocar"/></a>
                    <div id="image7" class="lightbox">
                    <div>
                        <a href="#image6"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-6.jpg"  alt="de perfil, esperando para tocar"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image8"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 8 GALERIA -->
                    <a href="#image8"><img src="../images/tocando-7.jpg" class="thumb" alt="de perfil, en blanco y negro"/></a>
                    <div id="image8" class="lightbox">
                    <div>
                        <a href="#image7"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-7.jpg"  alt="de perfil, en blanco y negro"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image9"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 9 GALERIA -->
                    <a href="#image9"><img src="../images/tocando-8.jpg" class="thumb" alt="cuatro integrantes de frente"/></a>
                    <div id="image9" class="lightbox">
                    <div>
                        <a href="#image8"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-8.jpg"  alt="cuatro integrantes de frente"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image10"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
                    
                    <!-- IMAGEN 10 GALERIA -->
                    <a href="#image10"><img src="../images/tocando-9.jpg" class="thumb" alt="aprendiendo percusión, blanco y negro"/></a>
                    <div id="image10" class="lightbox">
                    <div>
                        <a href="#image9"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-9.jpg"  alt="aprendiendo percusión, blanco y negro"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image11"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 11 GALERIA -->
                    <a href="#image11"><img src="../images/tocando-10.jpg" class="thumb" alt="integrantes con niñe tocando percusión"/></a>
                    <div id="image11" class="lightbox">
                    <div>
                        <a href="#image10"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-10.jpg"  alt="integrantes con niñe tocando percusión"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image12"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
        
                    <!-- IMAGEN 12 GALERIA -->
                    <a href="#image12"><img src="../images/tocando-11.jpg" class="thumb" alt="tocando bongo y Djembe"/></a>
                    <div id="image12" class="lightbox">
                    <div>
                        <a href="#image11"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-11.jpg"  alt="tocando bongo y Djembe"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image13"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
                    
                    <!-- IMAGEN 13 GALERIA -->
                    <a href="#image13"><img src="../images/tocando-12.jpg" class="thumb" alt="congas y bongo, blanco y negro"/></a>
                    <div id="image13" class="lightbox">
                    <div>
                        <a href="#image12"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-12.jpg"  alt="congas y bongo, blanco y negro"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image14"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>

                    <!-- IMAGEN 14 GALERIA -->
                    <a href="#image14"><img src="../images/tocando-13.jpg" class="thumb" alt="integrante tocando bombo leguero"/></a>
                    <div id="image14" class="lightbox">
                    <div>
                        <a href="#image13"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-13.jpg"  alt="integrante tocando bombo leguero"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image15"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>

                    <!-- IMAGEN 15 GALERIA -->
                    <a href="#image15"><img src="../images/tocando-14.jpg" class="thumb" alt="tocando percusión con Shekere"/></a>
                    <div id="image15" class="lightbox">
                    <div>
                        <a href="#image14"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-14.jpg"  alt="tocando percusión con Shekere"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image16"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>

                    <!-- IMAGEN 16 GALERIA -->
                    <a href="#image16"><img src="../images/tocando-15.jpg" class="thumb" alt="integrantes de perfil en semicírculo"/></a>
                    <div id="image16" class="lightbox">
                    <div>
                        <a href="#image15"><img src="../images/left.png" class="previous" alt="anterior"/></a>
                        <img class="img-thumbnail altoImg" src="../images/tocando-15.jpg"  alt="integrantes de perfil en semicírculo"> </a>
                        <p class="descriptionGaleria"> Djembe y lo que venga. </p> 
                    </div>
                    <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
                    <a href="#image1"><img src="../images/right.png" class="next" alt="siguiente"/></a>
                    </div>
                </div>
            </section>
            <!-- Pie de página -->
            <footer class="degradadoFooter"> 
                <div>
                    Todos los derechos reservados
                </div>
                <div>
                    <ul class="footer">
                        <li class="ul__li--linea listas--facebook"><a href="https://www.facebook.com/" target="_blank">Facebook</a> </li>
                        <li class="ul__li--linea listas--instagram"><a href="https://www.instagram.com/waka.percusion/" target="_blank">Instagram</a></li>
                        <li class="ul__li--linea listas--youtube"><a href="https://www.youtube.com/" target="_blank">Youtube</a></li> 
                    </ul>     
                </div>
            </footer>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="../assets/js/script.js"></script>
        </body>
</html>
