<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Joaquín Echave</title>
    <link rel="shortcut icon" href="../images/logo-chico.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/estilos.css ">
</head>
    <body>
        <header id="index"> 
            <!-- Barra de navegación - Boxmodeling -->      
            <nav class="navbar navbar-expand-md navbar-light colorNav">  
                <!-- Brand -->
                <a class="navbar-brand" href="../index.html ">
                    <img id="personajeGrande" src="../images/logo.png" alt="Logo Waka" style="width:100px;">
                </a>
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav col-12 navbarCustom">
                        <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/quienes.somos.html">Quienes Somos</a></li>
                        <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/galeria.html">Galería</a></li>
                        <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/noticias.html">Blog</a></li>
                        <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/agenda.html">Agenda</a></li>
                        <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/contactanos.html">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <section>
            <!-- Integrante -->
            <button>
                <a href="./quienes.somos.html">< Volver atras</a>
            </button>
            <br>
            <img src="../images/integrante-grande.png" alt="Joaquín Echave" />
            <h1>Joaquín Echave</h1>
            <h2>Apodo / frase</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book.
            </p> 
            <!-- Listas -->
                <h3>Instrumentos que toca:</h3> 
                <ol  class="listas">
                    <li>Trompeta</li>
                    <li>Trombón</li>
                    <li>Flugel</li>
                    <li>Piccolo</li>
                </ol>    
                <h3>Lista de temas en los que interviene:</h3>
                <ul  class="listas">
                    <li>Tema 1</li>
                    <li>Tema 2</li>
                    <li>Tema 3</li>
                    <li>Tema 4</li>
                </ul>
            </section>
        </main>
        <!-- Pie de página -->
        <footer class="degradadoFooter"> 
            <div>
                Todos los derechos reservados
            </div>
            <div>
                <ul class="footer">
                    <li class="ul__li--linea listas--facebook"><a href="https://www.facebook.com/" target="_blank">Facebook</a> </li>
                    <li class="ul__li--linea listas--instagram"><a href="https://www.instagram.com/waka.percusion/" target="_blank">Instagram</a></li>
                    <li class="ul__li--linea listas--youtube"><a href="https://www.youtube.com/" target="_blank">Youtube</a></li> 
                </ul>     
            </div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
