<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Quienes somos</title>
    <link rel="shortcut icon" href="../images/logo-chico.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/estilos.css ">
  </head>
  <body>
    <header id="index"> 
      <!-- Barra de navegación - Boxmodeling -->      
      <nav class="navbar navbar-expand-md navbar-light colorNav"> 
          <!-- Brand -->
          <a class="navbar-brand" href="../index.html ">
              <img id="personajeGrande" src="../images/logo.png" alt="Logo" style="width:100px;">
          </a>
          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav col-12 navbarCustom">
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/quienes.somos.html">Quienes Somos</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/galeria.html">Galería</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/noticias.html">Blog</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/agenda.html">Agenda</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/contactanos.html">Contacto</a></li>
            </ul>
          </div>
      </nav>
    </header>
    <!-- Imagen de Bienvenida -->
    <main> 
      <h1>Quienes somos</h1> 
      <img class="img" src="../images/imagen_bienvenida.jpg" alt="integrantes saludándote">
    </main>
    <!-- Quienes somos -->
    <section> 
        <p>Chew muli waka es un grupo de percusión por lenguaje de señas que nació en el año 2020 en la ciudad de Chivilcoy, al calor de la pandemia y frente al deseo de conectar, compartir, fluir, liberar y enraizar colectivamente a través de los tambores. Un día ese deseo se cristalizó en un encuentro que nos habilitó un nuevo y hermoso lenguaje que deja de lado por un rato la palabra para abrir paso a una comunicación profunda, fluida, en la que los cuerpos, las ideas y la música se comunican entre sí.
        </p>
        <p> <strong> Chew Muli Waka significa “dónde hay una vaca?” en Ranquel, Pueblos Originarios que han habitado por muchísimo tiempo la región pampeana.</strong>
        </p>
        <p> El lenguaje de ritmo y percusión con señas es un lenguaje de expresión, configuración gestoespacial y percepción visual creado por Santiago Vázquez, que está basado en la improvisación grupal mediante alrededor de 150 señas realizadas con las manos y el cuerpo, un director o directora puede coordinar el flujo de la improvisación convirtiendo a la suma de las ideas individuales en una verdadera composición colectiva.           
        </p>
    </section>
    <!-- Integrantes - Flexbox -->
    <section> 
        <h2>Integrantes</h2>
        <div class="integranteFlexbox">
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./joaquin-echave.html">
            <img class="image" src="../images/integrante-grande.png" alt="Joaquín Echave"> 
            <div>
              <div class="overlay">
                <div class="text">Joaquín Echave</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./federico-duffo.html">
            <img class="image" src="../images/integrante-grande.png" alt="Federico Duffó"> 
            <div>
              <div class="overlay">
                <div class="text">Federico Duffó</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./eduardo-cagnone.html">
            <img class="image" src="../images/integrante-grande.png" alt="Eduardo Nicolás Cagnone"> 
            <div>
              <div class="overlay">
                <div class="text">Eduardo Nicolás Cagnone</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./sofia-de-ariztimuno.html">
            <img class="image" src="../images/integrante-grande.png" alt="Sofía de Ariztimuño"> 
            <div>
              <div class="overlay">
                <div class="text">Sofía de Ariztimuño</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./sebastian-dipardo.html">
            <img class="image" src="../images/integrante-grande.png" alt="Sebastián Di Pardo"> 
            <div>
              <div class="overlay">
                <div class="text">Sebastián Di Pardo</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./florencia-cagnone.html">
            <img class="image" src="../images/integrante-grande.png" alt="Florencia Cagnone"> 
            <div>
              <div class="overlay">
                <div class="text">Florencia Cagnone</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./soledad-bernal.html">
            <img class="image" src="../images/integrante-grande.png" alt="Soledad Bernal"> 
            <div>
              <div class="overlay">
                <div class="text">Soledad Bernal</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./emilio-perez-dipaula.html">
            <img class="image" src="../images/integrante-grande.png" alt="Emilio Perez Di Paula"> 
            <div>
              <div class="overlay">
                <div class="text">Emilio Perez Di Paula</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./marcelo-neri.html">
            <img class="image" src="../images/integrante-grande.png" alt="Marcelo Neri"> 
            <div>
              <div class="overlay">
                <div class="text">Marcelo Neri</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./danisa-tristant.html">
            <img class="image" src="../images/integrante-grande.png" alt="Danisa Tristant"> 
            <div>
              <div class="overlay">
                <div class="text">Danisa Tristant</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./mariano-cambiasso.html">
            <img class="image" src="../images/integrante-grande.png" alt="Mariano Cambiasso"> 
            <div>
              <div class="overlay">
                <div class="text">Mariano Cambiasso</div>
              </div>
            </div>
          </a>
          <a class="container col-lg-3 col-md-4 col-sm-2" href="./fermin-echave.html">
            <img class="image" src="../images/integrante-grande.png" alt="Fermín Echave"> 
            <div>
              <div class="overlay">
                <div class="text">Fermín Echave</div>
              </div>
            </div>
          </a>
        </div>
    </section>
    <!-- Pie de página -->
    <footer class="degradadoFooter"> 
      <div>
        Todos los derechos reservados
      </div>
      <div>
        <ul class="footer">
          <li class="ul__li--linea listas--facebook"><a href="https://www.facebook.com/" target="_blank">Facebook</a> </li>
          <li class="ul__li--linea listas--instagram"><a href="https://www.instagram.com/waka.percusion/" target="_blank">Instagram</a></li>
          <li class="ul__li--linea listas--youtube"><a href="https://www.youtube.com/" target="_blank">Youtube</a></li> 
        </ul>     
      </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
