<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#FFCE8C" />
    <title>Quienes somos</title>
    <meta name="description" content="Quienes somos como ensamble y como integrante individual de Chew muli waka">
    <meta name="keywords"  content="INTEGRANTES, ABOUT, QUIENES, ENSAMBLE, MUSIC, TAMBORES">
    <link rel="shortcut icon" href="../images/logo-chico.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/estilos.css">
  </head>
  <body>
    <header id="index"> 
      <!-- Barra de navegación -->      
      <nav class="navbar navbar-expand-md  menu-fixed navbar-light colorNav"> 
          <!-- Brand -->
          <a class="navbar-brand" href="../index.html ">
              <img id="personajeGrande" src="../images/logo.png" alt="Logo" style="width:100px;">
          </a>
          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav col-12 navbarCustom">
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/quienes.somos.html">Quienes Somos</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/galeria.html">Galería</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/noticias.html">Blog</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/agenda.html">Agenda</a></li>
                <li class="nav-item ml-3 bevan"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
            </ul>
          </div>
      </nav>
    </header>
    <!-- Imagen de Bienvenida -->
    <main> 
      <h1>Quienes somos</h1> 
      <img class="img" src="../images/imagen_bienvenida.jpg" alt="integrantes saludándote">
    </main>
    <!-- Quienes somos -->
    <section class="descriptionTexto text-center"> 
        <p class="subtitulo">Chew muli waka es un grupo de percusión por lenguaje de señas que nació en el año 2020 en la ciudad de Chivilcoy, al calor de la pandemia y frente al deseo de conectar, compartir, fluir, liberar y enraizar colectivamente a través de los tambores. Un día ese deseo se cristalizó en un encuentro que nos habilitó un nuevo y hermoso lenguaje que deja de lado por un rato la palabra para abrir paso a una comunicación profunda, fluida, en la que los cuerpos, las ideas y la música se comunican entre sí.
        </p>
        <p class="subtitulo" > <strong> Chew Muli Waka significa “dónde hay una vaca?” en Ranquel, Pueblos Originarios que han habitado por muchísimo tiempo la región pampeana.</strong>
        </p>
        <p id="integrantes" class="subtitulo"> El lenguaje de ritmo y percusión con señas es un lenguaje de expresión, configuración gestoespacial y percepción visual creado por Santiago Vázquez, que está basado en la improvisación grupal mediante alrededor de 150 señas realizadas con las manos y el cuerpo, un director o directora puede coordinar el flujo de la improvisación convirtiendo a la suma de las ideas individuales en una verdadera composición colectiva.           
        </p>
    </section>
    <!-- MODAL -->
    <section>
      <h2>Integrantes</h2>
        <div id="thumblist" > 
          <!-- Joaquin Echave -->
          <a href="#image1">
            <img src="../images/joaquin-e.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image1" class="lightbox"> 
            <div class="modalFondo" >
              <a href="#image12"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="joaquin" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#joaquin" data-slide-to="0" class="active"></li>
                  <li data-target="#joaquin" data-slide-to="1"></li>
                  <li data-target="#joaquin" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/joaquin-e.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/joaquin-e.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/joaquin-e.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Joaquín Echave Lladó</p>
              <p class="description">
                Djembe y lo que venga. Desde muy chico encontré refugio, consuelo y sentido en la música. Mi primer percusión fue el banco de la escuela, que pronto mutaría en una batería con 2 platillos y con ella, la experiencia de ensayar, componer, grabar y tocar en vivo con bandas de estilos diversos. En algún momento quise cambiar el mundo, o mi país al menos, y entendí que para ello primero debía “conocer” o comprender aquello que pretendía cambiar. Me recibí como sociólogo y más pronto que tarde aunque en realidad de trasnoche, me di cuenta que a quien no conocía y no podía cambiar, era a mi mismo. Del pelo largo de mis épocas de heavy hasta la incipiente calva de hoy, el hilo conductor de mi trajín es la búsqueda de mayor libertad, conexión y fluir a través de la música. Algo que con les wakas expresa su hondura y el calor de lo que se comparte con amor.
              </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image2"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Federico Duffó -->
          <a href="#image2"><img src="../images/fede-3.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image2" class="lightbox">
            <div class="modalFondo" >
              <a href="#image1"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="fede" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#fede" data-slide-to="0" class="active"></li>
                  <li data-target="#fede" data-slide-to="1"></li>
                  <li data-target="#fede" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/fede-2.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/fede-3.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/fede-1.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Federico Duffó</p>
              <p class="aliasIntegrante"> alias "La Cobra"</p>
              <p class="description">
                Maraquero en Chew mülli Waka. Ritmo y sabor.
                Abogado laboralista. Amante del blues.
                Músico de alma. El que piensa pierde.
                Baterista de "Cuidado con el perro" y "Los Mariscales del Tiempo". Armonisista de "Los Vikingos blues band"
              </p>
              <p class="fraseIntegrante"> Me gustan las cosas simples,¿para qué más? </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image3"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Eduardo Nicolas Cagnone -->
          <a href="#image3"><img src="../images/edu-md.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image3" class="lightbox">
            <div class="modalFondo" >
              <a href="#image2"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="eduardo" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#eduardo" data-slide-to="0" class="active"></li>
                  <li data-target="#eduardo" data-slide-to="1"></li>
                  <li data-target="#eduardo" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/edu-c3.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/edu-c1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/edu-c2.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Eduardo Nicolas Cagnone Kurcumelis</p>
              <p class="description">
                Shekerista. Agricultor de ley. Me gusta comer rico y vegetariano mientras me tomo un vino, con un hogar a leña prendido, escuchando “Dark side of the moon”. Odontologo. Acuariano ♒️ con ascendente en piscis ♓️. Amo el invierno y me aburro fácil. Fotógrafo encubierto.
              </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image4"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Sofía de Ariztimuño -->
          <a href="#image4"><img src="../images/sofi-ariztimuño-2.jpg" class="thumb thumbQuienes" alt="Sofía de Ariztimuño"/></a>
          <div id="image4" class="lightbox">
            <div class="modalFondo" >
              <a href="#image3"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="sofi" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#sofi" data-slide-to="0" class="active"></li>
                  <li data-target="#sofi" data-slide-to="1"></li>
                  <li data-target="#sofi" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
              <div class="carousel-inner mt-3">
                <div class="carousel-item active">
                  <img src="../images/sofi-ariztimuño-3.jpg" alt="Tocando el sourdo al aire libre">
                </div>
                <div class="carousel-item">
                  <img src="../images/sofi-ariztimuño-2.jpg" alt="tocando las congas en la calle">
                </div>
                <div class="carousel-item">
                  <img src="../images/sofi-ariztimuño-1.jpg" alt="en casa">
                </div>
              </div>
            </div>
              <p class="nombreIntegrante">Sofía de Ariztimuño</p>
              <p class="description">
                En Chew Muli Waka toco el sourdo y soy zurda. Mi mente planea bastante alto, lejos (ascendente y luna en géminis ♊). El sourdo me baja a tierra (virgo ♍ es mi signo solar), me facilita el orden y el pulso a través del ritmo, por lo que es mi aliado y complemento.  
                Estudíe piano en conservatorio y disfruto mucho cantar intuitivamente.
                Nutricionista, con orientación Ayurveda e integrando la meditación a la alimentación consciente.
              </p> 
              <p class="fraseIntegrante">Compartir en grupo el lenguaje de percusión por señas es sin dudas una forma más de nutrirnos.</p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image5"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Sebastián Di Pardo -->
          <a href="#image5"><img src="../images/seba-dipardo-mini3.jpg" class="thumb thumbQuienes" alt="Sebastián Di Pardo"/></a>
          <div id="image5" class="lightbox">
            <div class="modalFondo">
              <a href="#image4"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="sebas" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#sebas" data-slide-to="0" class="active"></li>
                  <li data-target="#sebas" data-slide-to="1"></li>
                  <li data-target="#sebas" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
              <div class="carousel-inner mt-3">
                <div class="carousel-item active">
                  <img src="../images/seba-dipardo-mini.jpg" alt="Alentando a los participantes del show callejero, con los brazos en alto y con la trompeta en la mano">
                </div>
                <div class="carousel-item">
                  <img src="../images/seba-dipardo-mini2.jpg" alt="Tocando las congas al aire libre">
                </div>
                <div class="carousel-item">
                  <img src="../images/seba-dipardo-mini3.jpg" alt="Tocando trompeta en un casamiento en la India, con un traje a rayas blancas y negras">
                </div>
              </div>
            </div>
              <p class="nombreIntegrante">Sebastián Di Pardo</p>
              <p class="description"> Toco la trompeta desde la primaria, pero mi amor por la percu lo traigo desde la panza. Profesor, Licenciado, viajero y me encanta menear.
              </p>
              <p class="description">
                🧘‍♂️La meditación Kundalini y las prácticas chamánicas me mantienen en eje 🧙🏻‍♂️
              </p>
              <p class="description">
                En Wakas toco las Congas y la Trompeta 🎺
              </p>
              <p class="description">
                Formé parte de Orquestas Sinfónicas tocando en el Teatro Colón, Coliseo y Avenida, entre otros. Fui integrante de bandas de música popular de toda índole como Riddim (Reggae), La Konga (Cuarteto), Café Tacuba (México), Juanes (Colombia), La Nueva Luna (Cumbia), La Delio Valdez (Cumbia) The Beats (Mejor banda Beatle en Inglaterra), Amy el Tributo (Tributo a Amy Winehouse en el Teatro Maipo), Grupo Red (Cumbia) , Sonora Tropicana (Mexico, Cumbia) y Sonora Skandalo (México, Cumbia). 
              </p>
              <p class="description">
                Trabajé para Bollywood y casamientos Hindúes en India, un viaje de trabajo que se convirtió en una transformación de vida🐄
              </p>
              <p class="description">
                Soy integrante de Desmadre Orkesta, banda con la cual recorrí mas de 15 paises y 3 continentes🌏  
              </p>
              <ul class="footer">
                  <li class="ul__li--linea">
                      <a href="https://www.facebook.com/sebastian.dipardo" target="_blank"> 
                      <img src="../images/facebook-azul.png" alt="Facebook sebastian"> </a> </li>
                  <li class="ul__li--linea">
                      <a href="https://www.instagram.com/sebastiandipardo/" target="_blank">
                      <img src="../images/instagram-azul.png" alt="instagram Sebastian"> </a> </li>
                  <li class="ul__li--linea">
                      <a href="https://www.youtube.com/channel/UCRtsGb--N0MyDo6Nt0qlUfg" target="_blank">
                      <img src="../images/youtube-azul.png" alt="Youtube sebastian"> </a></li> 
              </ul>
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image6"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Florencia Cagnone -->
          <a href="#image6"><img src="../images/flor-md.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image6" class="lightbox">
            <div class="modalFondo" >
              <a href="#image5"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="flor" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#flor" data-slide-to="0" class="active"></li>
                  <li data-target="#flor" data-slide-to="1"></li>
                  <li data-target="#flor" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/flor-c.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/flor-c2.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/flor-c.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Flor Cagnone</p>
              <p class="description">
                En el ensamble toco principalmente los Bongó, pero de vez en cuando necesito mover el cuerpito así que acompaño con los huevitos. Bailo desde los 6 años, Profesora, Licenciada en Danza Teatro, Terapeuta en Shiatsu y diferentes tipos de técnicas de sanación energética y Facilitadora de círculo de mujeres. Suelo andar mucho volando por los aires, la percusión fue y es una gran herramienta para bajar a tierra. Bajar a tierra la materia, las ideas, las emociones y los sentires. 
              </p>
              <p class="fraseIntegrante"> El cuerpo se mueve por la música y la música se mueve por nuestros cuerpos. </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image7"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Soledad Bernal -->
          <a href="#image7"><img src="../images/sole-b1.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image7" class="lightbox">
            <div class="modalFondo" >
              <a href="#image6"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="sole" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#sole" data-slide-to="0" class="active"></li>
                  <li data-target="#sole" data-slide-to="1"></li>
                  <li data-target="#sole" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/sole-b1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/sole-b1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/sole-b1.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Soledad Bernal</p>
              <p class="description">
                En Chew Muli Waka toco el bombo leguero, a veces el sourdo y canto. De chica aprendí a tocar la guitarra como autodidacta, luego tomé algunas clases de piano. Participé siempre, tímidamente, en todas las obras de teatro en la secundaria cantando en el coro y a veces como solista. Formar parte de este ensamble me abre a una nueva perspectiva de la música y el arte grupal, a experimentar, soltar la timidez y compartir con un grupo humano muy lindo.
              </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image8"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Emilio Perez Di Paula -->
          <a href="#image8"><img src="../images/emilio-md.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image8" class="lightbox">
            <div class="modalFondo" >
              <a href="#image7"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="emilio" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#emilio" data-slide-to="0" class="active"></li>
                  <li data-target="#emilio" data-slide-to="1"></li>
                  <li data-target="#emilio" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/emilio-2.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/emilio-1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/emilio-2.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Emilio Perez Di Paula</p>
              <p class="description">
                De muy chico encontré una guitarra yacopi guardada en un placard de casa. Pronto supe que quería transitar el camino a través de la música. Desde ese entonces siempre estuve componiendo y tocando. Mis oídos fueron y serán siempre mi primer maestro. Influenciado por diversos estilos y géneros, desde música clásica a heavy, forme parte de diferentes bandas y proyectos. Mis estudios fueron dedicados a la composición musical y en la actualidad escribo música para medios audiovisuales. Ferviente creyente de que estamos en constante aprendizaje. Apasionado de los instrumentos de cuerda, toco guitarra, bajo, piano, wuzheng, guqin, pipa, zhongruan y erhu. Me gusta experimentar con la voz y el canto de tuva. Formo parte de la cultura del movimiento y el chen taijiquan. Estudio idioma chino con mucha obsesión.
              </p> 
              <p class="description">
                En Chew Muli Waka toco guitarra, derbake y lo que pinte. La calidad humana es inmensa. Es un espacio del cual me siento honrado en formar parte. Cuando tocamos se siente como un organismo vivo muy poderoso, enraizado de hermosa energía, frecuencia y vibración.
              </p>
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image9"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Marcelo Neri -->
          <a href="#image9"><img src="../images/chelo-2.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image9" class="lightbox">
            <div class="modalFondo" >
              <a href="#image8"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="chelo" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#chelo" data-slide-to="0" class="active"></li>
                  <li data-target="#chelo" data-slide-to="1"></li>
                  <li data-target="#chelo" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/chelo-1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/chelo-2.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/chelo-3.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Marcelo Neri</p>
              <p class="aliasIntegrante"> Alias Chelo, Chelito, Dolcello. </p>
              <p class="description">
                Un cuerpo de koala pequeño pero manija de elefante. Turista del planeta Tierra. Escucho, hago y siento la música desde que tengo pensamientos. Compositor autodidacta sin estudios, simplemente lo que me sale. Integro la seccion de agudos de Chew mulli Waka, principalmente accesorios y guitarra/sinte en melodicos. En un constante proceso de autodescubrimiento para ganarle al miedo, que agradezco todos los días a los Wakas por ayudarme.
              </p> 
              <p class="fraseIntegrante">- A veces vendo cosas. ♎ Libriano hasta la médula; el Delicado Equilibrio.-</p>
              <ul class="footer">
                <li class="ul__li--linea">
                    <a href="https://www.instagram.com/marcheloneri/" target="_blank">
                    <img src="../images/instagram-azul.png" alt="instagram chelo"> </a> </li>
              </ul>
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image10"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>
          
          <!-- Danisa Tristant -->
          <a href="#image10"><img src="../images/dana-1.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image10" class="lightbox">
            <div class="modalFondo" >
              <a href="#image9"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="dana" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#dana" data-slide-to="0" class="active"></li>
                  <li data-target="#dana" data-slide-to="1"></li>
                  <li data-target="#dana" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/dana-2.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/dana-1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/dana-3.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Danisa Tristant</p>
              <p class="aliasIntegrante"> Dana 👽🌿♒ </p>
              <p class="description">
                Con la curiosidad que me compone llegué al mundo Waka para darme el gusto y la oportunidad de experimentar con la música y la percusión, que me gusta tanto. Sin experiencia musical más que jugando a veces a tocar algunos acordes en la guitarra y cantando profesionalmente en la ducha, la música siempre estuvo y es parte esencial de mi vida. Siendo hija de un Disc Jockey entrené el oído desde pequeña y si bien mi manera de manifestarlo fue siempre a través de la danza y el movimiento, hoy siento ganas de ampliar mis capacidades y de compartirlas en grupo. Tengo la suerte de que mis compañerxs son seres con mucha paciencia y buena onda, que me enseñan, guían y animan a disfrutar del proceso, desde aquella primera vez en la que tímidamente agarré una pandereta. 
              </p>
              <p class="description">
                Hoy exploro con los bongó, pero como buena acuariana la intriga me lleva a ir rotando cada tanto entre los instrumentos, descubriendo qué posibilidades y sensaciones hay en ellos y en mí. Creo que estoy en la búsqueda de mi instrumento...o quizás sea una especie de comodín mutante! quién sabe? 🐮💚
              </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image11"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Mariano Cambiasso -->
          <a href="#image11"><img src="../images/nano-1.jpg" class="thumb thumbQuienes" alt="cambiar"/></a>
          <div id="image11" class="lightbox">
            <div class="modalFondo" >
              <a href="#image10"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="mariano" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#mariano" data-slide-to="0" class="active"></li>
                  <li data-target="#mariano" data-slide-to="1"></li>
                  <li data-target="#mariano" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/nano-1.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/nano-2.jpg" alt="cambiar">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/nano-1.jpg" alt="cambiar">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Mariano Cambiasso</p>
              <p class="aliasIntegrante">Nano</p>
              <p class="description">
                Me encuentro incursionando en la percusión, a veces con el repique y otras con el cajón, con la experiencia musical de estar rodeado de amigues musicales que siempre compartieron su arte conmigo. Y ahora disfrutando del hermoso ritual del ensayar en grupo una nueva forma de expresión.
              </p> 
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image12"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>

          <!-- Lalo Ruffini -->
          <a href="#image12"><img src="../images/lalo-ruffini-2.jpg" class="thumb thumbQuienes" alt="Lalo Ruffini"/></a>
          <div id="image12" class="lightbox">
            <div class="modalFondo" >
              <a href="#image11"><img src="../images/left.png" class="previous" alt="anterior"/></a>
              <!-- Carousel del integrante -->
              <div id="lalo" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ul class="carousel-indicators">
                  <li data-target="#lalo" data-slide-to="0" class="active"></li>
                  <li data-target="#lalo" data-slide-to="1"></li>
                  <li data-target="#lalo" data-slide-to="2"></li>
                </ul>
                <!-- Fotos Carousel -->
                <div class="carousel-inner mt-3">
                  <div class="carousel-item active">
                    <img src="../images/lalo-ruffini-1.jpg" alt="Tocando el Flugel">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/lalo-ruffini-2.jpg" alt="Haciendo caras">
                  </div>
                  <div class="carousel-item">
                    <img src="../images/lalo-ruffini-3.jpg" alt="Tocando la trompeta">
                  </div>
                </div>
              </div>
              <p class="nombreIntegrante">Lalo Ruffini</p>
              <p class="description">
                Soy Lalo Ruffini, músico, toco la guitarra desde niño pero hace ya muchos años que me dedico a la trompeta. Estudié piano y composición y estoy recibido de profesor de música también.
              </p>
              <p class="description">
                En Chew Muli Waka toco congas y trompeta. Formo parte de Alondra, un quinteto de jazz en el que también me doy el gusto de compartir con amigos música original compuesta por nosotros. Asimismo participé de un gran número de proyectos de toda índole en los cuales siempre fui conociendo gente nueva y gestando nuevas amistades.
              </p>
              <p class="description">
                Me gusta mucho estar despierto y disfrutar de lo que sucede alrededor de las 7 am. Me gusta mucho la madera (su textura y su olor). Me gustan mucho Coltrane y Thelonious Monk. Me gusta muchísimo lo que sucede en el 4’06” de la versión de “Well you needn’t” que hace Chet Baker en “The last great concert” (si, por favor vayan a escucharlo). Amo la música porque sintetiza la idea de que las cosas funcionan mejor cuando son producto de la conjunción de las partes. Soy consciente (o al menos creo serlo) de mis privilegios y a través de la docencia (actividad que también amo) pretendo que sean extensivos a todos.
              </p>
              <p class="fraseIntegrante">
                Desconfío mucho del “bla, bla, bla” y soy un gran creyente del “pa, pa, pa”.
              </p>
              <ul class="footer">
                <li class="ul__li--linea">
                    <a href="https://www.instagram.com/laloruffini/" target="_blank">
                    <img src="../images/instagram-azul.png" alt="instagram lalo"> </a> </li>
              </ul>
            </div>
            <a href="#_"><img src="../images/close.png" class="exit" alt="cerrar"/></a>
            <a href="#image1"><img src="../images/right.png" class="next" alt="siguiente"/></a>
          </div>
        </div>
    </section>

    <!-- Pie de página -->
    <footer id="index" class="degradadoFooter mt-5 pt-3"> 
      <p> Todos los derechos reservados </p>
      <p class="subtitulo"> Mas info en nuestras redes:</p>
      <ul class="footer">
          <li class="ul__li--linea">
              <a href="https://www.facebook.com/" target="_blank"> 
              <img src="../images/facebook.png" alt="Facebook"> </a> </li>
          <li class="ul__li--linea">
              <a href="https://www.instagram.com/waka.percusion/" target="_blank">
              <img src="../images/instagram.png" alt="Facebook"> </a> </li>
          <li class="ul__li--linea">
              <a href="https://www.youtube.com/" target="_blank">
              <img src="../images/youtube.png" alt="Facebook"> </a></li> 
      </ul>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
