@charset "UTF-8";
/* Degradados */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");
.degradadoFooter {
  background-image: linear-gradient(#353535, black); }

.degradadoHeader {
  background-image: linear-gradient(#FFCE8C, #353535); }

.degradadoSecciones {
  background-image: linear-gradient(#fcfff0, #FFCE8C); }

* {
  Margin: 0;
  text-align: center; }

/* Items del Nav en línea horizontal */
/* color rgb al fondo de barra de navegación que está en header - saco viñetas - 
padding 10px bottom y top - interlineado 20px */
nav ul {
  background-color: #353535;
  list-style-type: none;
  padding: 10px 0px;
  line-height: 20px; }

nav li {
  display: inline-block;
  width: 15.0015%;
  position: relative;
  color: #353535;
  font-family: bevan;
  font-variant: all-small-caps;
  font-size: 25px;
  text-align: start;
  width: 100%; }

nav a {
  color: #fcfff0;
  text-decoration: none; }

/* Nav Hover */
.customHover a:hover {
  color: #fb9e1b;
  font-weight: 600;
  padding: 2px; }

/* Próximas presentaciones recuadros  */
section {
  padding: 20px; }
  section article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }

.section__article--margin {
  padding: 15px;
  margin: 5px; }

.section__article--redondeado {
  border-radius: 10px;
  border: 4px solid #FFCE8C;
  padding: 15px;
  margin: 5px; }

.section--margin {
  padding: 15px;
  margin: 29px; }

/* sección naranja - interlineado 20px */
.naranja {
  background-color: #FFCE8C;
  line-height: 20px; }

/* Ver mas */
button {
  background-color: #fcfff0;
  color: #fb9e1b;
  padding: 10px;
  border: none;
  font-weight: 700; }
  button a {
    color: #fb9e1b; }
    button a :hover {
      background-color: #fb9e1b;
      color: #fcfff0;
      padding: 10px;
      border: none;
      font-weight: 700; }

/* texto centrado - fondo color naranja (rgb) - color de texto crema */
.boton {
  text-align: center;
  background-color: #353535;
  color: #fcfff0; }

/* Margen a los campos de Formulario */
form div {
  margin: 5px; }

/* Footer: fondo color rojo (rgb) - color de texto crema - 
padding 10px bottom y top - interlineado 30px*/
footer {
  background-color: #353535;
  color: #fcfff0; }
  footer a {
    color: #fcfff0; }
  footer ul {
    text-align: center;
    margin: 0;
    padding: 0; }

.footer {
  text-align: center;
  margin: 0;
  padding: 0; }

.ul__li--linea {
  display: inline-block;
  padding: 10px; }

/* Listas ordenadas - numeración romana Mayúsculas */
.listas {
  list-style-type: upper-roman;
  display: inline-block;
  vertical-align: middle;
  padding: 10px; }

/* Listas desordenadas - Viñeta de imagen */
.listas--img {
  list-style-image: url("../../images/drum.png"); }

/* imagen viñeta Facebook */
.listas--facebook {
  list-style-image: url("../../images/facebook.png"); }

/* imagen viñeta Instagram */
.listas--instagram {
  list-style-image: url("../../images/instagram.png"); }

/* imagen viñeta Youtube */
.listas--youtube {
  list-style-image: url("../../images/youtube.png"); }

/* Imagenes descargas */
.descargasImg {
  display: inline-block;
  border-radius: 25px;
  position: relative;
  padding: 10px; }

/* Imagen principal al ancho de pantalla */
.img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

/* Flexbox para galería */
.galeriaFlexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 30px;
  column-gap: 10px; }

/* Flexbox integrantes */
.integranteFlexbox {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  height: 100%;
  justify-content: space-around; }

/* entradas - cuadro centrado - fondo color crema */
.entradas {
  display: flex;
  justify-content: center;
  background-color: #fcfff0; }

/*BOOTSTRAP*/
/* NAV BAR */
.navbarCustom {
  background-color: transparent; }

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important; }

#image-gallery .modal-footer {
  display: block; }

.thumb {
  margin-top: 5px; }

.colorNav {
  background-color: #FFCE8C; }

.btn-primary {
  color: #fff;
  background-color: #40498F;
  border-color: #40498F;
  box-shadow: none; }

.btn-primary:hover {
  color: #fff;
  background-color: #2d3469;
  border-color: #2d3469; }

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none, 0 0 0 0.2rem rgba(156, 39, 176, 0.5); }

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #40498F;
  border-color: #40498F; }

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #40498F;
  border-color: #40498F; }

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none, 0 0 0 0.2rem rgba(156, 39, 176, 0.5); }

.btn.btn-round {
  border-radius: 30px; }

.btn-link {
  font-weight: 400;
  color: #40498F;
  border-radius: 30px;
  background-color: transparent; }

.btn-link:hover {
  color: #2d3469;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent; }

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none; }

.btn-link:disabled,
.btn-link.disabled {
  color: #999; }

.html.w-mod-touch * {
  background-attachment: scroll; }

.animaTexto {
  transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 0; }

.animaTexto {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d; }

.fadeTop {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s; }

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s; }

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 1s; }

.visible {
  opacity: 1;
  transform: translate(0, 0); }

.altoImg {
  width: 100%;
  max-width: 400px;
  height: auto; }

.minImg {
  width: 85px;
  border-radius: 5px;
  margin-top: 4px; }

.anchoImg {
  max-width: 100%;
  height: auto; }

/*color RGB de fondo al body - fuente: Questrial*/
body {
  margin-top: 120px;
  background-color: #fcfff0;
  font-family: 'Questrial', sans-serif; }

/* color RGB a los titulares H1 - Interletrado 5pt - padding 5pt bottom y top */
h1 {
  font-family: 'Bevan', cursive;
  font-size: 40pt;
  font-weight: 600;
  line-height: 45pt;
  color: #40498F;
  padding-top: 25pt;
  letter-spacing: 1px; }

/*color RGB a los titulares H2 - padding 5px bottom y top*/
h2 {
  color: #063070; }

/*color RGB a los titulares H3 - padding 5px bottom y top*/
h3 {
  color: #063070;
  padding-top: 10px;
  padding-bottom: 5px; }

/* interlineado 18pt */
p {
  line-height: 18pt; }

/* Links - saco subrayado por defecto */
:any-link {
  text-decoration: none; }

/* Mixins */
/* Extend */
.tituloNoticia, .tituloNoticia--secundaria {
  font-family: "Raleway", sans-serif;
  font-size: 30pt;
  font-weight: 500; }

.tituloNoticia--secundaria {
  font-size: 20pt; }

.subtitulo {
  font-family: "Raleway", sans-serif;
  font-size: 16pt;
  font-weight: 500;
  line-height: 25pt;
  text-align: center;
  margin-bottom: 15pt; }

/* ANIMACIONES*/
.menu-fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2); }

/* ANIMACIÓN ROTAR*/
#personajeRota {
  animation-name: personajeRota;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 2s; }

/* Linea de tiempo */
@keyframes personajeRota {
  0% {
    transform: rotate(1deg); }
  100% {
    transform: rotate(360deg); } }

/* ANIMACIÓN ESCALA*/
#personajeGrande {
  animation-name: personajeGrande;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 700ms; }

/* Linea de tiempo */
@keyframes personajeGrande {
  0% {
    transform: scale(1); }
  80% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

/* MODAL INTEGRANTES OK*/
.nombreIntegrante {
  font-family: 'Bevan', cursive;
  font-size: 20pt;
  font-weight: 600;
  line-height: 25pt;
  color: #40498F;
  padding-top: 25pt;
  letter-spacing: 1px; }

.aliasIntegrante {
  font-family: "Bevan", cursive;
  font-weight: 700; }

.fraseIntegrante {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  line-height: 24pt;
  text-decoration: none;
  max-width: 80%;
  text-align: center;
  vertical-align: center;
  margin-left: 12%;
  margin-right: 12%; }

body a {
  text-decoration: none; }

.thumb {
  display: inline;
  max-height: 200px; }

#thumblist {
  text-align: center;
  border-radius: 8px;
  padding: 0;
  z-index: -1; }

#thumblist img {
  border-radius: 8px; }

.description, .descriptionGaleria {
  color: #063070;
  font-size: 16pt;
  text-decoration: none;
  max-width: 80%;
  text-align: center;
  vertical-align: center;
  margin-left: 12%;
  margin-right: 12%; }

.modalFondo {
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  width: 80%;
  background-color: #fcfff0;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  max-height: 90vh;
  overflow-y: auto; }

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9); }

.lightbox img {
  max-width: 60%;
  max-height: 50%;
  text-align: center;
  margin-top: 2%; }

.lightbox:target {
  outline: none;
  display: block; }

.previous {
  position: fixed;
  left: 4px;
  top: 40%;
  width: 40px; }

.exit {
  position: fixed;
  top: 4px;
  right: 4px;
  width: 40px; }

.next {
  position: fixed;
  right: 4px;
  top: 40%;
  width: 40px; }

.descriptionGaleria {
  color: #fcfff0; }

.descriptionTexto {
  color: #063070;
  text-decoration: none;
  max-width: 90%;
  text-align: center;
  vertical-align: center;
  margin-left: 10%;
  margin-right: 10%; }

.lightbox2 {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }

.lightbox2 img {
  max-width: 60%;
  max-height: 50%;
  text-align: center;
  margin-top: 2%; }

.lightbox2:target {
  outline: none;
  display: block; }

.previous {
  position: fixed;
  left: 4px;
  top: 40%;
  width: 40px; }

.exit {
  position: fixed;
  top: 4px;
  right: 4px;
  width: 40px; }

.next {
  position: fixed;
  right: 4px;
  top: 40%;
  width: 40px; }

/* MEDIA QUERIES*/
/* GRID AREA INDEX */
/* MEDIA QUERIES */
/* Mobile */
@media (max-width: 767px) {
  /* grid */
  #grillaIndex {
    display: grid;
    grid-template-areas: "header" "main" "ensayo" "integrantes" "footer"; }
  /* Nombres del grid-template-area */
  header#index {
    grid-area: header; }
  main#index {
    grid-area: main; }
  section#integrantes {
    grid-area: integrantes; }
  section#soundcloud {
    grid-area: ensayo; }
  footer#index {
    grid-area: footer; } }

.page-header {
  height: 50vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center; }

.header-filter {
  position: relative; }

.main {
  background: #ffffff;
  position: relative;
  z-index: 3; }

.main-raised {
  margin: -550px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

/* MEDIA QUERIES */
/* Tablet */
@media (min-width: 768px) and (max-width: 990px) {
  /* grid */
  #grillaIndex {
    display: grid;
    grid-template-areas: "header header header" "main main main" "ensayo ensayo ensayo" "integrantes integrantes integrantes" "footer footer footer"; }
  /* Nombres del grid-template-area */
  header#index {
    grid-area: header; }
  main#index {
    grid-area: main; }
  section#integrantes {
    grid-area: integrantes; }
  section#soundcloud {
    grid-area: ensayo; }
  footer#index {
    grid-area: footer; } }

.page-header {
  height: 50vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center; }

.header-filter {
  position: relative; }

.main {
  background: #ffffff;
  position: relative;
  z-index: 3; }

.main-raised {
  margin: -500px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

/* MEDIA QUERIES */
/* Desktop */
@media (min-width: 991px) {
  /* grid */
  #grillaIndex {
    display: grid;
    grid-template-areas: "header header header header header" "main main main main main" "ensayo ensayo ensayo ensayo ensayo" "integrantes integrantes integrantes integrantes integrantes" "footer footer footer footer footer"; }
  /* Nombres del grid-template-area */
  header#index {
    grid-area: header; }
  main#index {
    grid-area: main; }
  section#integrantes {
    grid-area: integrantes; }
  section#soundcloud {
    grid-area: ensayo; }
  footer#index {
    grid-area: footer; } }

.page-header {
  height: 40vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center; }

.header-filter {
  position: relative; }

.main {
  background: #ffffff;
  position: relative;
  z-index: 3; }

.main-raised {
  margin: -500px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

/* GRID AREA CONTACTO */
/* MEDIA QUERIES */
/* Mobile */
@media (max-width: 767px) {
  /* grid */
  #grillaContacto {
    display: grid;
    grid-template-areas: "header" "main" "contacto" "form"  "descargas" "footer"; }
  /* Nombres del grid-template-area */
  header#contacto {
    grid-area: header; }
  main#contacto {
    grid-area: main; }
  section#contacto {
    grid-area: contacto; }
  section#form {
    grid-area: form; }
  section#descargas {
    grid-area: descargas; }
  footer#contacto {
    grid-area: footer; } }

/* MEDIA QUERIES */
/* Tablet */
@media (min-width: 768px) and (max-width: 990px) {
  /* grid */
  #grillaContacto {
    display: grid;
    grid-template-areas: "header header" "main main" "contacto form" "descargas descargas" "footer footer"; }
  /* Nombres del grid-template-area */
  header#contacto {
    grid-area: header; }
  main#contacto {
    grid-area: main; }
  section#contacto {
    grid-area: contacto; }
  section#form {
    grid-area: form; }
  section#descargas {
    grid-area: descargas; }
  footer#contacto {
    grid-area: footer; } }

/* MEDIA QUERIES */
/* Desktop */
@media (min-width: 991px) {
  /* grid */
  #grillaContacto {
    display: grid;
    grid-template-areas: "header header header" "main main main" "contacto form descargas" "footer footer footer"; }
  /* Nombres del grid-template-area */
  header#contacto {
    grid-area: header; }
  main#contacto {
    grid-area: main; }
  section#contacto {
    grid-area: contacto; }
  section#form {
    grid-area: form; }
  section#descargas {
    grid-area: descargas; }
  footer#contacto {
    grid-area: footer; } }

/* 100% Imagen galeria en dispositivos pequeños*/
@media only screen and (max-width: 700px) {
  .anchoGaleria {
    max-width: 80%; }
  .thumb {
    display: inline;
    max-height: 250px;
    margin-left: 0%;
    margin-right: 0%; }
  .modalFondo {
    position: sticky;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3%;
    width: 100%;
    background-color: #fcfff0;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    max-height: 95vh;
    overflow-y: auto; }
  .thumbQuienes {
    display: inline;
    max-height: 350px;
    margin-left: 0%;
    margin-right: 0%; }
  .lightbox img {
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    margin-top: 2%; }
  .exit {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px; }
  .lightbox2 {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); }
  .lightbox2 img {
    max-width: 80%;
    max-height: 50%;
    text-align: center;
    margin-top: 35%; }
  .lightbox2:target {
    outline: none;
    display: none; }
  h1 {
    font-family: 'Bevan', cursive;
    font-size: 30pt;
    font-weight: 600;
    line-height: 35pt;
    color: #40498F;
    padding-top: 25pt; }
  .descriptionTexto {
    color: #063070;
    text-decoration: none;
    max-width: 90%;
    text-align: center;
    vertical-align: center;
    margin-left: 5%;
    margin-right: 5%; }
  .subtitulo {
    font-family: "Raleway", sans-serif;
    font-size: 16pt;
    font-weight: 500;
    line-height: 20pt;
    text-align: center;
    margin-bottom: 15pt; }
  .nombreIntegrante {
    font-family: 'Bevan', cursive;
    font-size: 20pt;
    font-weight: 600;
    line-height: 25pt;
    color: #40498F;
    padding-top: 25pt;
    letter-spacing: 1px; } }
